@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="about">
    <h1 class="about-header" style="color:#333">Đồ Án Tốt Nghiệp</h1>
    <p>
        Đề Tài : Thiết kế hệ thống giám sát điều khiển và đếm sản
        phẩm trong dây chuyền sản xuất chai thủy tinh
    </p>
    <p>Hướng dẫn : TS Nguyễn Quốc Định </p>
    <p>Thực hiện : Nguyễn Phước Thắng - 17TDH1 & Lê Thanh Tùng - 17TDH2</p>
    <div class="about-footer">
        <p>Copyright © by </p>
    </div>
</div>

